// Buttons
.btn-primary {
  margin: 1em;
  background-color: $primary-color;
  border: none;
  border-radius: $border-radius;
  color: $background-color;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Form elements
.form-control {
  border: 1px solid $primary-color;
  border-radius: $border-radius;
  background-color: $background-color;
  &:focus {
    border-color: darken($primary-color, 10%);
    box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
  }
}

// Label for accessibility
.form-label {
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
